<div class="Container">

  <h1>Data Table</h1>

  <DataTable @stickyRows={{1}} @data={{this.productsCollection}} />

  <div>
    <button onclick={{action "addProduct"}}>Add Row</button>
  </div>

</div>
